<template name="navbar">
	<nav class="navbar navbar-inverse navbar-fixed-top" id="main-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">Global Garden</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
          <li class="{{active '/'}}"><a href="{{pathFor 'home'}}">Your Gardens</a></li>
          <li class="{{active '/analytics'}}"><a href="{{pathFor 'analytics'}}">Analytics</a></li>
          <li class="{{active '/contact'}}"><a href="{{pathFor 'contact'}}">Forums</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if loggedIn}}
          {{checkProfile}}
            <li><a href="{{pathFor 'entrySignIn'}}">Sign Out</a></li>
          {{else}}
          <li><a href="{{pathFor 'entrySignIn'}}">Sign In</a></li>
          <li><a href="{{pathFor 'entrySignUp'}}">Sign Up</a></li>
          {{/if}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav><!-- /navbar -->
</template>
