<template name="home">
	<head>

		<title>Global Garden</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wellfleet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">
    <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
	</head>
	<header  id="header">

		<nav class="navbar navbar-black" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" id="logo" href="{{pathFor 'home'}}">Global Garden</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right" id="nav">
						<li><a href="{{pathFor 'entrySignUp'}}">Sign Up</a></li>
						<li><a href="{{pathFor 'entrySignIn'}}">Sign In</a></li>
					</ul>
				</div>
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	<div id="index">
		<div id="slide1">
			<div class="background-black">

				<h2>GLOBAL</h2>
				<h1>GARDEN</h1>

				<h3>An automated, analytical garden, at the touch of your fingers.</h3>

			</div>

			<div class="background-black">
				<h3>
					<a href="#slide2" title="Next Section">Garden</a>
					<a href="#slide3" title="Next Section">Cloud</a>
					<a href="#slide4" title="Next Section">Display</a>
					<a href="#slide5" title="Next Section">Try Us</a>
				</h3>

			</div>
		</div>

		<div id="slide2">
			<div >
				<div class="container">
					<h2>Keep your Gardens Functional</h2>
					<h3>With Global Garden, you can keep track of the status of your plants from anywhere in the world.  Just set up your sensors and have the garden take care of itself.  If you don't have sensors and just want to try the online system, we have a virtual garden you can create!</h3>
				</div>
			</div>
		</div>

		<div id="slide3">
			<div>

			</div>
		</div>

		<div id="slide4">
			<div>
				<div class="container">
					<h2>See the numbers behind your garden!</h2>
					<h3>Global Garden doesn't just watch over your garden's vitals, it also allows you to see any trend in the system.  Simply log in and choose a garden and you will be ables to view a multitude of analytics on that garden, and make sure your garden isn't trending in a wrong direction!</h3>
				</div>
			</div>
		</div>

		<div id="slide5">
			<div>
				<div class="background-black" id="tryus">
					<h2>Try Us Today! </h2>
				</div>
				<div id="copyright">Copyright Denny and Travis Scott</div>
			</div>

		</div>
	</div>
</template> 