<template name="analytics">
	<div class="modal fade" id="analytics" tabindex="-1" role="dialog" aria-labelledby="lightlabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="lightlabel">Analytics Settings</h3>
				</div>
				<div class="modal-body">
					<div class="modal-section" id="Data">
						<label>Data to Track</label>
						<ul class="list-group checked-list-box">
							<li class="list-group-item active" id="tempCheck"> Temperature</li>
							<li class="list-group-item" id="moistureCheck"> Moisture</li>
							<li class="list-group-item" id="humidityCheck"> Humidity</li>
							<li class="list-group-item" id="lightCheck"> Light</li>
						</ul>
						<hr>
						<label>Graph Type</label>
						<select class="list-group-item wholeColumn" id="chartType">
							<option value="line">Line Chart</option>
							<option value="spline">Spline Chart</option>
							<option value="bar">Bar Chart</option>
							<option value="area">Area Chart</option>
							<option value="areaspline">Area Spline Chart</option>
							<option value="scatter">Scatter Plot</option>
						</select>
						<hr>
						<label>Days to Track</label>
						<input type="text"  class="form-control" id="days" name="days" value="{{getDays}}">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="saveAnalytics" class="btn btn-primary" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</template>