<template name="humidity">
	<div class="modal fade" id="humidity" tabindex="-1" role="dialog" aria-labelledby="humiditylabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="humiditylabel">Humidity Settings</h3>
				</div>
				<div class="modal-body">
					<div class="modal-section" id="humidityautomatic">
						<button class="btn section-header" data-toggle="collapse" id="autoButton" data-parent="#humidityautomatic" href="#humiditycollapseOne"><h4>Automatic</h4></button>
						<div id="humiditycollapseOne" class="panel-collapse collapse {{isAuto}}">
							<div class="collapse-content">
							Keep the garden at this constant humidity (30-40% recommended) 
						</div>
						<input type="text" name="humidity" class="form-control" id="humCheck" value="{{getHumidity}}">
						</div>
					</div>
					<hr>
					<div class="modal-section" id="rules">
						<button class="btn section-header" data-toggle="collapse" id="ruleButton" data-parent="#rules" href="#humidityCollapseTwo"><h4>Rules</h4></button>
						<div id="humidityCollapseTwo" class="panel-collapse collapse {{isRules}}">
							<div class="collapse-content">
								If humidity is Less than <input type="text" id="humMin" name="multiple[]" class="inline-form" value='{{getHumidityMin}}'>%, turn humidifier On
							</div>
							<div class="collapse-content">
								If humidity is Greater than <input type="text" id="humMax" name="multiple[]" class="inline-form" value='{{getHumidityMax}}'>%, turn humidifier Off
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" id="saveChanges" class="btn btn-primary" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</template>