<template name="light">
	<div class="modal fade" id="light" tabindex="-1" role="dialog" aria-labelledby="lightlabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="lightlabel">Light Settings</h3>
				</div>
				<div class="modal-body">
					<div class="modal-section" id="lightautomatic">
						<button class="btn section-header" data-toggle="collapse" id="autoButton" data-parent="#lightautomatic" href="#lightcollapseOne"><h4>Automatic</h4></button>
						<div id="lightcollapseOne" class="panel-collapse collapse {{isAuto}}">
							<div class="collapse-content">
							Light on during day, light off during night.
						</div>
						</div>
					</div>
					<hr>
					<div class="modal-section" id="rules">
						<button class="btn section-header" data-toggle="collapse" id="ruleButton" data-parent="#rules" href="#lightCollapseTwo"><h4>Rules</h4></button>
						<div id="lightCollapseTwo" class="panel-collapse collapse {{isRules}}">
							<div class="collapse-content">
								For night, turn light <select><option value="on">On</option><option value="off">Off</option></select>
							</div>
							<div class="collapse-content">
								For day, turn light <select><option value="on">On</option><option value="off">Off</option></select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</template>