body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #fbfbfb;}

.modal-content{
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	/*background:rgba(220,220,220,.6);*/
	background:transparent;
	border:0;
}

.section-header{
	padding:0 10px 0 10px;
	background: transparent;
	border: 1px solid rgba(196,196,196,1);
}

.section-header:hover{
	background: rgba(196,196,196,.2);
}

.wholeColumn {
	width:100%;
}

.increasePadding{
	padding: 6px 12px;
	margin-top:10px;
}

.inline-form{
	width:50px;
}

.collapse-content{
	margin-top:10px;
	margin-bottom:10px;
}

.state-icon {
    left: -5px;
}
.list-group-item {
    background-color: transparent;
    border:0;
}