body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #fbfbfb;}

.modal-content{
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	/*background:rgba(220,220,220,.6);*/
	background:transparent;
	border:0;
}