<template name="garden">
	<div id="garden-content">
		<div class="navbar navbar-default control-panel">
			<div class="container">
				<div class="pull-right projectManagement">
					<a class="add-garden"><i class="fa fa-plus-circle"></i></a>
					<i class="fa fa-cogs"></i>
				</div>
			</div>
		</div>
		<div id="user-content">
			
			<div class="information col-md-3 col-xs-12">
				<div class = "title">
					Tools
				</div>
					<div class = "stat left" data-toggle="modal" data-target="#temperature">
						Temperature
						<div class="stat-icon"><i class="fa fa-umbrella"></i></div>
						<div class="number">{{getTemp}}</div>
					</div>

					<div class = "stat right" data-toggle="modal" data-target="#humidity">
						Humidity
						<div class="stat-icon"><i class="fa fa-cloud"></i></div>
						<div class="number">{{getHumidity}}</div>
					</div>

					<div class = "stat left" data-toggle="modal" data-target="#moisture">
						Moisture
						<div class="stat-icon"><i class="fa fa-tint"></i></div>
						<div class="number">{{getMoisture}}</div>
					</div>

					<div class = "stat right" data-toggle="modal" data-target="#light">
						Light
						<div class="stat-icon"><i class="fa fa-sun-o"></i></div>
						<div class="number">{{getLight}}</div>
					</div>

					<div class="action" id="toggle-sprinkler">
						Toggle Sprinkler
						<span class="{{isSprinklerOn}}"><i class="fa fa-circle"></i></span>
					</div>
 
					<div class="action" id="toggle-heater">
						Toggle Heater
						<span class="{{isHeaterOn}}"><i class="fa fa-circle"></i></span>
					</div>

					<div class="action" id="toggle-humidifier">
						Toggle Humidifier
						<span class="{{isHumidifierOn}}"><i class="fa fa-circle"></i></span>
					</div>

					<div class="action" id="toggle-lights">
						Toggle Lights
						<span class="{{isLightsOn}}"><i class="fa fa-circle"></i></span>
					</div>

					<div class="action">
						Delete Garden
						<span class="danger"><i class="fa fa-exclamation-triangle"></i></span>
					</div>
			</div>

			<div class="analytics col-md-6 col-xs-12">
				<div class = "title">
					Analytics
				</div>
					<div class="col-md-12 display-graph">
						<div class="chart center" id="chart">
						</div>
					</div>
					<div class="Manage-Analytics" data-toggle="modal" data-target="#analytics">
						Manage Analytics
					</div>
			</div>
			<div class="projects col-md-2 col-xs-12">
				<div class = "title">
					Gardens
				</div>
				{{#each gardens}}
					<div class="garden">
						{{name}} <span class="good"><i class="fa fa-circle"></i></span>
					</div>
				{{/each}}

				<!-- <div class="garden">
					Winnipeg Beach <span class="warning"><i class="fa fa-circle"></i></span>
				</div>

				<div class="garden">
					Cottage <span class="danger"><i class="fa fa-circle"></i></span>
				</div>

				<div class="garden">
					Rec-Room <span class="danger"><i class="fa fa-circle"></i></span>
				</div>

				<div class="garden">
					Outside - Tomatoes <span class="danger"><i class="fa fa-circle"></i></span>
				</div>

				<div class="garden">
					Outside - Strawberries <span class="danger"><i class="fa fa-circle"></i></span>
				</div>

				<div class="garden">
					Outside - Tulips <span class="danger"><i class="fa fa-circle"></i></span>
				</div>

				<div class="garden">
					Outside - Roses <span class="danger"><i class="fa fa-circle"></i></span>
				</div>

				<div class="garden">
					Living Room <span class="danger"><i class="fa fa-circle"></i></span>
				</div> -->
			</div>
		</div>
	</div>

</template>
